version: "3.8"
services:
  mongo:
    image: mongo
    container_name: mern_mongo
    restart: always
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: adaptive_learning
  server:
    build: ./server
    container_name: mern_server
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./.env
    depends_on:
      - mongo
  client:
    build: ./client
    container_name: mern_client
    restart: always
    ports:
      - "3000:3000"
    stdin_open: true
    tty: true
    depends_on:
      - server
